        .menu-bar {
            background: rgb(113, 233, 223);
            text-align: center;
            height: 18vh;
            width: auto;
            text-decoration: bold;
        }
        
        .menu-bar img {
            float: left;
        }
        
        .menu-bar ul {
            display: inline-flex;
            list-style-type: none;
            margin-top: 10px;
            width: auto;
            margin-left: auto;
        }
        
        .menu-bar ul li {
            width: 150px;
            margin: 15px;
            padding: 15px;
            margin-right: 5px;
        }
        
        .menu-bar ul li a {
            text-decoration: none;
            color: rgb(14, 13, 13);
        }
        
        .menu-bar .fa {
            margin-right: 8px;
        }
        
        .tab:hover {
            background-color: rgb(131, 126, 126);
            border-radius: 3px;
            color: white;
            cursor: pointer;
        }
        
        button:hover {
            cursor: pointer;
        }
        
        .submenu1 {
            display: none;
        }
        
        .menu-bar ul li:hover .submenu1 {
            display: block;
            position: absolute;
            background: darkgrey;
            margin-top: 15px;
            margin-left: -15px;
        }
        
        .menu-bar ul li:hover .submenu1 ul {
            display: block;
            margin: -10px;
        }
        
        .menu-bar ul li:hover .submenu1 ul li {
            width: 150px;
        }
        
        * {
            font-size: 18px;
            font-family: fantasy;
        }
        
        body {
            background-color: rgb(199, 221, 216);
        }
        
        button {
            background-color: rgb(51, 51, 243);
        }