*{
    padding:0px;
    margin:0px;
	width: 100%;
}
body{
    background-color:lightslategray;
    font-family:sans-serif;
	width: 100%;
	justify-content: space-evenly;
}
.menu-bar{
    background: #5FAC8C;
    text-align: center;
    height:12vh;
	width: 100%;
    text-decoration: bold;
}
.menu-bar img{
    float:left;
}
.menu-bar ul{
    display:inline-flex;
    list-style-type: none;
    margin-top:10px;
    width:80%;
    margin-left:auto;
}
.menu-bar ul li{
    width:150px;
    margin:15px;
    padding:15px;
}
.menu-bar ul li a{
    text-decoration:none;
    color:rgb(14, 13, 13);
}
.menu-bar .fa{
    margin-right:8px;
}
 .tab:hover{
    background-color:rgb(131, 126, 126);
    border-radius: 3px;
    color:white;
    cursor:pointer;
}
button:hover{
    cursor: pointer;
}
.submenu1{
    display:none;
}
.menu-bar ul li:hover .submenu1{
    display:block;
    position:absolute;
    background:darkgrey;
    margin-top:15px;
    margin-left:-15px;
}
.menu-bar ul li:hover .submenu1 ul{
    display:block;
    margin:-10px;
}
.menu-bar ul li:hover .submenu1 ul li{
    width:150px;
    padding:10px;
}
.backgrounding{
	margin-top: 0px;
	background-image: url(./Images/Sad\ guy\ 1.jpg);
	background-repeat: no-repeat;
	background-size:cover;
	background-position: center;
    height:300px;
	width: 100%;
}
.backgrounding img{
	width: 100%;
	align-items: center;
}
.backgrounding button{
	background-color:#0500FF;	
	
	position: absolute;
	width: 150px;
	height: 50px;
	font-weight: 800;
	font-size: 20px;
	margin-top: 150px;
	margin-left: 1000px;
	font-family: Roboto;
	border-top-left-radius: 50px;
	border-top-right-radius: 50px;
	border-bottom-left-radius: 50px;
	border-bottom-right-radius: 50px;
	border-style: solid;
}
.procedure{
	text-align: center;
}
.procedure h3{
	width: auto;
	color: blue;
	font-size: 24px;
	/* padding-left: 40px; */
}
.procedure p{
	padding-left: 20px;
	width: auto;
}
.procedure ol{
	/* width: auto;
	justify-content: space-between; */
	font-size: 18px;
	font-family: fantasy;
	
	
}
.found {
    display: flex;
    align-items: space-between;
    position: relative;
    float: center;
}
body {
    background-color: rgb(199, 221, 216);
	justify-content: space-between;
}
.found img {
    margin-left: 50px;
}
h2 {
    text-align: center;
}
.found div {
    margin: 0px 100px 0px 100px;
}
.found p {
    color: rgb(0, 0, 0);
    text-align: justify;
}
h2{
	text-align: center;
	padding-top: 40px;
	font-size: 36px;
}
.backgrounding p{
	/* -You have indicated that you lost an item, don’t worry, we have got your back. Just fill the form on the left and relax! */

position: absolute;
width: 350px;
height: 83px;
left: 370px;
top: 81px;
padding-top: 70px;
padding-left: 650px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 30px;
text-align: center;

color: #000000;


}
footer{
	background:#5FAC8C;
	box-sizing: border-box;
	width:100%;
	height:80vh;
	padding:30px 30px 30px 30px;
}
.help ul{
	list-style-type:none;
}
.help ul a{
	color:white;
	text-decoration:none;
}
.help ul a:hover{
	color:black;
}
.stayconnected ul{
	list-style-type:none;
}
.stayconnected ul li{
	display:inline-flex;
}
.stayconnected ul li img:hover{
	border-radius:7px;
	box-shadow:2px 2px 2px 2px;
}
.top{
	display:inline-flex;
	width:95%;
	margin-left:50px;
	margin-bottom:20px;
	justify-content:space-between;
}
.bottom{
	box-sizing: border-box;
	width:90%;
	margin-left:50px;
}
.partners{
	width:100%;
	display:inline-flex;
	padding:20px 20px 20px 20px;
	margin-left:50px;
	text-align:center;
}
.partners img{
	margin:-10px 20px 20px 70px;
}
.partners img:hover{
	box-shadow: 2px 2px 2px 2px;
}
.contactus{
	padding:10px 10px 10px 0px;
}

